/* Light 300 */
@font-face {
  font-family: 'Karantina';
  src: url('./ttf/Karantina-Light.ttf');
  font-weight: 300;
}

/* Regular 400 */
@font-face {
  font-family: 'Karantina';
  src: url('./ttf/Karantina-Regular.ttf');
  font-weight: 400;
}

/* Bold 500 */
@font-face {
  font-family: 'Karantina';
  src: url('./ttf/Karantina-Bold.ttf');
  font-weight: 700;
}

:root {
  .ff-M {
    font-family: 'Karantina';
  }
}
